<form class="mt3 center measure" [formGroup]="answerForm" (ngSubmit)="onSubmit(answerForm.value)">
  <div class="bg-red white pv1 ph3" *ngIf="answerForm.invalid && submittedOnce">
    <p *ngIf="answerForm.errors?.api">
      {{answerForm.errors.api}}
    </p>
    <p *ngIf="answerForm.get('answer').errors?.required">
      Answer is required.
    </p>
  </div>
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
    <div class="mt3">
      <label class="db fw6 lh-copy f6" for="title">Answer</label>
      <textarea class="pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" formControlName="answer" id="answer"></textarea>
    </div>
  </fieldset>
  <div class="">
    <input class="ph3 pv2 input-reset dim ba b--black bg-white pointer f6 dib" type="submit" value="Submit Answer">
  </div>
</form>
