<main class="pa4 ph7-ns black-80 center">
  <div class="bb">
    <h2 class="f2 lh-title mb0">{{question.title}}</h2>
    <p class="f6 lh-copy">Asked by {{question.authorName}}</p>
    <p class="f3 lh-copy">{{question.body}}</p>
  </div>
  <ul class="list pl0">
    <li *ngFor="let answer of answers" class="pa3 pa4-ns bb b--black-10">
      <b class="db f4 mb1">{{answer.authorName}}</b>
      <p class="f5 db lh-copy measure">{{answer.text}}</p>
    </li>
  </ul>
  <app-answer-question *ngIf="isLoggedIn()" [questionId]="question.id" (answered)="onAnswered($event)"></app-answer-question>
</main>
