.snackbar {
  visibility: hidden;
}

.show {
  visibility: visible;
  animation: scrollin 0.5s, scrollout 0.5s 1s;
}

@keyframes scrollin {
  from { bottom: -50px; }
  to { bottom: 0px; }
}

@keyframes scrollout {
  from { bottom: 0px; }
  to { bottom: -50px; }
}
