<main class="pa4 ph7-ns black-80 center">
  <div class="bb">
    <label class="dib" for="search"><i class="fas fa-search"></i></label>
    <input class="pa2 input-reset bn bg-transparent w-90" type="text" id="search" [(ngModel)]="searchTerm" (ngModelChange)="searchChanged()">
  </div>
  <article *ngFor="let result of results" class="bt bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black dim" [routerLink]="['/question', result.id]">
      <p class="f3 lh-title">{{result.title}}</p>
      <p class="f6 lh-copy">{{result.body}}</p>
      <p class="f8 lh-copy">Asked by {{result.authorName}}</p>
    </a>
  </article>
</main>
