<nav class="flex justify-between bg-blue ph4-ns">
  <a class="link dim white no-underline flex items-center pa3 ttu tracked" [routerLink]="['/']">Airin</a>
  <div class="flex-grow pa3 flex items-center">
    <a class="mr3 link dib white hover-bg-white hover-blue no-underline pv2 ph2 ba b--white-20" [routerLink]="['/ask']" *ngIf="isLoggedIn()"><i class="fas fa-plus"></i></a>
    <a class="pointer f6 link dib white hover-bg-white hover-blue no-underline pv2 ph4 ba b--white-20 ttu" (click)="mainLinkClicked()">{{getMainLinkText()}}</a>
  </div>
</nav>

<router-outlet></router-outlet>

<app-snackbar></app-snackbar>
