<main class="pa4 black-80">
  <form class="measure center" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div class="bg-red white pv1 ph3" *ngIf="registerForm.invalid && submittedOnce">
      <p *ngIf="registerForm.errors?.api">
        {{registerForm.errors.api}}
      </p>
      <p *ngIf="registerForm.get('username').errors?.required">
        Username is required.
      </p>
      <p *ngIf="registerForm.get('username').errors?.minlength">
        Username must have at least 4 characters.
      </p>
      <p *ngIf="registerForm.get('password').errors?.required">
        Password is required.
      </p>
      <p *ngIf="registerForm.get('password').errors?.minlength">
        Password must have at least 6 characters.
      </p>
      <p *ngIf="registerForm.errors?.nomatch">
        Passwords do not match.
      </p>
    </div>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="username">Username</label>
        <input class="pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="text" formControlName="username" id="username">
      </div>
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="password" formControlName="password" id="password">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">Confirm Password</label>
        <input class="b pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="password" formControlName="passwordConfirm" id="passwordConfirm">
      </div>
    </fieldset>
    <div class="">
      <input class="ph3 pv2 input-reset dim ba b--black bg-white pointer f6 dib" type="submit" value="Register">
    </div>
  </form>
</main>
