<main class="pa4 black-80">
  <form class="measure center" [formGroup]="questionForm" (ngSubmit)="onSubmit(questionForm.value)">
    <div class="bg-red white pv1 ph3" *ngIf="questionForm.invalid && submittedOnce">
      <p *ngIf="questionForm.errors?.api">
        {{questionForm.errors.api}}
      </p>
      <p *ngIf="questionForm.get('title').errors?.required">
        Title is required.
      </p>
      <p *ngIf="questionForm.get('body').errors?.required">
        Body is required.
      </p>
    </div>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="title">Title</label>
        <input class="pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="text" formControlName="title" id="title">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="body">Body</label>
        <textarea class="db pa1 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" formControlName="body" id="body"></textarea>
      </div>
    </fieldset>
    <div class="">
      <input class="ph3 pv2 input-reset dim ba b--black bg-white pointer f6 dib" type="submit" value="Submit Question">
    </div>
  </form>
</main>
