<main class="pa4 black-80">
  <form class="measure center" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="bg-red white pv1 ph3" *ngIf="loginForm.invalid && submittedOnce">
      <p *ngIf="loginForm.errors?.api">
        {{loginForm.errors.api}}
      </p>
      <p *ngIf="loginForm.get('username').errors?.required">
        Username is required.
      </p>
      <p *ngIf="loginForm.get('username').errors?.minlength">
        Username must have at least 4 characters.
      </p>
      <p *ngIf="loginForm.get('password').errors?.required">
        Password is required.
      </p>
      <p *ngIf="loginForm.get('password').errors?.minlength">
        Password must have at least 6 characters.
      </p>
    </div>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="username">Username</label>
        <input class="pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="text" formControlName="username" id="username">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset bl-0 br-0 bt-0 bb bg-transparent w-100" type="password" formControlName="password" id="password">
      </div>
    </fieldset>
    <div class="">
      <input class="ph3 pv2 input-reset dim ba b--black bg-white pointer f6 dib" type="submit" value="Sign In">
    </div>
    <div class="mt4">
      <a [routerLink]="['/register']" class="f6 link dim black bb pa1">Register</a>
    </div>
  </form>
</main>
